'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Archipelago'
      'submenu': [
        {
          'label': 'Toggle Terminal'
          'command': 'archipelago:toggle'
        }
      ]
    ]
  }
]
