'atom-workspace':
  'alt-space': 'archipelago:toggle'

'.platform-darwin .archipelago':
  'cmd-s': 'archipelago:split-horizontally'
  'cmd-shift-s': 'archipelago:split-vertically'
  'cmd-c': 'archipelago:copy'
  'cmd-v': 'archipelago:paste'

'.platform-linux .archipelago, .platform-win32 .archipelago':
  'ctrl-s': 'archipelago:split-horizontally'
  'ctrl-shift-s': 'archipelago:split-vertically'
  'ctrl-c': 'archipelago:copy'
  'ctrl-v': 'archipelago:paste'
