'atom-workspace':
  'ctrl-alt-a': 'archipelago:open'
'.archipelago':
  'cmd-s': 'archipelago:split-horizontally'
  'cmd-shift-s': 'archipelago:split-vertically'
  'cmd-c': 'archipelago:copy'
  'cmd-v': 'archipelago:paste'
